*{
  background-color: black;
  color: white;
}

.main{
  width: 80vw;
  height: 80vh;
  margin: auto;
}

h1{
  font-size: 50px;
  font-weight: 400;
}

button{
  height: 51px;
  width: 51px;
  font-size: 24px;
  margin-right: 1rem;
  color: black;
  background-color:white ;
}

#messages{
  margin-top: 1rem;
}

input{
  height: 40px;
  width: 290px;
  border: 1px solid white;
  margin-bottom: 2rem;
}

::-webkit-input-placeholder { /* Edge */
  color: white;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::placeholder {
  color: white;
}